.comp-box{
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    width: 26%;
    padding: 2rem 2rem;
    /* border-bottom: 1px solid lightgray; */
    border-left: solid lightgray;

}
.comp-index{

    padding: 2rem 2rem;
    width:22%;
    border-bottom: 1px solid lightgray;
}

.rowz{
   
}

.comp-index>span, .comp-index>div>span{
    font-weight: 500;
    color: gray;
    text-transform: capitalize;
}

.comp-box-product-pricebox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;

}
.comp-box-product-pricebox span:first-child{
    font-size: 1.2rem;
    font-weight: 600;

}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

.sticky2{
    position: static;
}

/* .sticky:has(.noSticky) {
    position: static;
} */
.comp-box-product-pricebox span:nth-child(2){
    font-weight: 500;
    text-decoration: line-through;
    color: gray;

}

.comp-box-product-pricebox span:last-child{
    font-size: .8rem;
    color: rgb(11, 97, 11);
    font-weight:600;
}

.comp-delivery{
    color: black
}
.comp-delivery>span{
    font-weight: 600;
    font-size: 1rem;
    color: black;

}

section{
    position: static;
}

.comp-highlights{
    padding-left: 2rem;
}
.comp-highlights>li{
    list-style: disc;
    color: gray;
   
}