.login-container {
    position: relative;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2012/02/28/15/37/restaurant-18311_1280.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card {
    position: relative;
    z-index: 2;
    border-radius: 1rem;
}

.card-title {
    font-weight: 700;
    color: #007bff;
}