.login-container {
    background-image: url('https://c1.wallpaperflare.com/preview/472/26/406/table-wine-invite-food.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
}

.card {
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.card-body {
    padding: 2rem;
}

.btn {
    margin-top: 1rem;
}

.text-primary {
    color: #007bff;
}

.text-primary:hover {
    text-decoration: underline;
}