.first-box{
    padding: 1rem 5%;

}

.first-box div{
    font-weight: 500;
}
.s-container {
    padding: 5rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 4%;
}
.s-container > main {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
    box-shadow: -1px 3px 7px rgb(216, 215, 215);
    width: 60%;
    min-width: 571px;
    max-width: 605px;
    padding: 1rem 1rem;
    border: 40% 0;

}

.s-text-main-container{
    width: 100%;
    min-width: 372px;
}

.s-text-container a {
    display: block;
    font-size: 110%;
    text-decoration: none;
    color: black;
    font-weight: 500;
    width:100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}

.s-text-container a:hover {
    color: rgba(207, 167, 9, 0.996);
}

.s-container > main .s-pic-container img {
    width: 50%;
    min-width: 170px;
    height: auto;
    object-fit: cover;
}

.rating div{
    vertical-align: top;
    background: rgba(173, 235, 129, 0.996);
    border-radius: 7px;
    padding: .3rem;
    width: max-content;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'work sans', sans-serif ;
}

.s-price-details-container div  {
    margin-top: .5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    vertical-align: baseline;
}


.s-price-details-container div h5{
    font-weight: 700;

}
.s-button-container{
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.s-button-container button {
    font: 1rem black bolder;
    font-family: 'Lato' ,sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    padding: 5px 7px;
    border-radius: 5px;
    vertical-align: top;
    background-color: rgba(238, 193, 12, 0.996);
    transition:all .8s;
    
}

.s-button-container button:first-child:hover {
  background-color: yellow;
    
}

.s-button-container button:last-child{
    background-color: rgba(255, 255, 255, 0.996);
    border: solid 1px rgba(207, 167, 9, 0.996); 
}

.s-button-container button:last-child:hover {
    background-color: rgba(207, 167, 9, 0.996); 
}


@media (max-width:620px) {
    .s-container {
        padding: 1rem 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 4%;
    }
    .s-container > main{
        flex-direction: row;
        max-width: 100vw !important;
        min-width: 100vw;
        gap: 3%;
        text-align: center;
        justify-content: center;
    }

    .s-container > main .s-pic-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        vertical-align: top;
        height: 100%;
    }
    .s-container > main .s-pic-container img {
        max-width:100%;
        min-width: 100%;
        height: 140px !important;
        align-self: self-start !important;
        object-fit: cover;
        
    }
    
    .s-text-main-container{
       max-width:70%; 
       min-width: 70%
        
    }

    .s-text-container a {
       min-width: 80%;
       max-width: 90%;
       font-size: 80% !important;
       width: 50%;
       font-weight: 500;
       font-size: .9rem;
       text-align: start;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 2;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: normal; 
    }

    .s-price-details-container div  {
        margin-top: .1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        vertical-align: baseline;
    }

     .s-price-details-container div h5{
        font-size: 1rem;
    }
    .s-price-details-container div h6{
        font-size: 70% !important;
    }


    .rating div{
        vertical-align: top;
        background: rgba(173, 235, 129, 0.996);
        border-radius: 7px;
        padding: .3rem;
        width: max-content;
        margin: .3rem auto;
        font-weight: 500;
        font-size: .7rem;
        font-family: 'work sans', sans-serif ;
    }
    .s-button-container{
        justify-content: center;
        border-top: solid lightgray;
        padding-top: .5rem;
        margin: 0;
    }

    .s-button-container button{
        font-size: .8rem;
        
    }

}