.price-details {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  position: sticky;
  top: 2px;
}

.product-title {
  color: #6B6363;
  font-weight: bold;
}

.discount {
  color: green;
}

.total-amount {
  font-size: 1rem;
  font-weight: 600;
}

.save-amount {
  color: green;
}




.containerCart {
  display: flex;
  background-color: #f1f3f6;
 
}



.cards{
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  padding-top: 2rem;
  gap: 1rem;
}

.cartcard-container{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 5px rgb(229, 228, 228);
  background-color: #ffffff;
  padding: 2rem 2rem;
  border-radius: 5px;
  
}
.cartcard{

 display: flex;
 justify-content: start;
 align-items: stretch;
 gap: 2rem;
 
}

.cartcartImgContainer img{
  width: 8rem;
  height: 100%;

  border-radius: 5px;

}

.cartcard-textPart{
 display: flex;
 flex: 3;
 flex-direction: column;
 gap: 0;
 
}

.cartcard-textPart > div:first-child{
  display: flex;
 flex-direction: column;
  margin: 0;
}

.cartcard-textPart > div:first-child div {
  display: flex;
  justify-content: space-between;
}

.cartcard-textPart >div:first-child div p{
  margin-right: 2rem;
 font-weight: 300;
  text-wrap: nowrap;
  text-transform: capitalize;
}

.cartcard-textPart > div:first-child div h5{
  font-weight: 400;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; 
  width: 100%;
}

.cartcard-textPart > .cartcardPrice-sec{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;

}

.cartcardPrice-sec>p{
  margin: 0;
}
.cartcardPrice-sec p:first-child{
  font-weight: 300;
  text-decoration: line-through;
}

.cartcardPrice-sec p:nth-child(2){
  font-size: 1.3rem;
  font-weight: 500;
}

.cartcardPrice-sec p:nth-child(3){
  color: green;
  font-weight: 400;
  text-transform: uppercase;
}


.cartcard-buttons{
  display: none;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;

}
.cartcard-buttons > button{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
 border: none !important;
 outline: none !important;
  background-color: inherit;

}

.quantity-buttons{
  display: flex;
  justify-content: start;
  align-items: center;
  gap:.4rem

}
.quantity-buttons > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-buttons > div > input {
  width: 4rem;
  height: 1.8rem;
  text-align: center;
}
.quantity-buttons > div > label{
  width: 4rem;
  height: auto;
  text-align: center;
  cursor: pointer;
  border: gray solid;
}

.quantity-buttons > div >input[type=number]{
  -moz-appearance: textfield;
}


.quantity-buttons > div >input::-webkit-outer-spin-button,
.quantity-buttons > div >input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.placeorder{
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: end;
  padding: 1rem;
  width: 100%;
  background-color: #ffffff;
  
}

.placeorder > button{
  background-color: rgb(196, 106, 2);
  padding: 6px 14px;
  font-size: 1.3rem;
  color: white;
  border-radius: 3px;
}











.off{
  display: flex;
  width: 5rem !important;
  color: green;
  font-weight: 500;
}



@media (max-width:950px) {
  

.containerCart {
  display: flex;
  flex-direction: column;
  background-color: #f1f3f6;
 
}

.cards{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cartcard-container{
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 5px rgb(183, 183, 183);
  background-color: #ffffff;
  padding: .5rem .5rem;
}
  
  
}


@media (max-width:600px) {

  .cartcard{

    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 1rem;
  }

  .cartcard-textPart > .cartcardPrice-sec{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  
  }
 .cartcartImgContainer{
  display: flex;
  align-items: top;
 }

  .cartcartImgContainer img{
    width: 6rem;
    height: 100%;
    object-fit: contain;
  
  }
  

  .cartcard-textPart > div:first-child{
    display: flex;
   flex-direction: column;
    margin: 0;
  }
  
  .cartcard-textPart > div:first-child div {
    display: flex;
    flex-direction: column;
  }
  
  .cartcard-textPart >div:first-child div p{
    margin-right: .5rem;
   font-weight: 300;
   font-size: .7rem;
    text-wrap: nowrap;
    text-transform: capitalize;
  }
  
  .cartcard-textPart > div:first-child div h5{
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    width: 100%;
  }
  
  
 
}



@media (max-width:620px) {
  .containerCart {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .cartCard{
    display: flex;
    flex-direction: column;
    align-content:start;
    border-radius: .5rem;
    padding: 0rem 0rem;
    width: 100%;
    margin: 2rem 2rem;
  }
  
  .cartcardTopContainer div img {
    object-fit: cover !important;
    object-position: center;
    height: 15rem;
    width: 100% !important;
    border-radius: 1rem;
  }
  

  .cartcardTopContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: normal;
    width: 100%;
     gap: 5%;
     margin: 0;
     padding: 0;
  }
 
  .cartTexttop{
    text-align: center;
  }

  .cartTexttop p:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  .cartbottom{
    display: flex;
    margin-top: 2rem;
   
     justify-content: center;
     text-align: center;
     gap: 10%;
  }
  
  .last {
    margin-top: 1rem;
    padding: .5rem;
    border-top: solid rgba(128, 128, 128, 0.341);
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .buttonbox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content:center;
    align-items: center;
  }


  .buttongrp2{
  
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
}
.off{
  display: flex;
  width: max-content;
  color: green;
  font-weight: 500;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 66px;
  aspect-ratio: 1;
   margin: 10rem auto;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #f1c40f;
  animation: l5 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}
@keyframes l5{
  0%    {inset:0    35px 35px 0   }
  12.5% {inset:0    35px 0    0   }
  25%   {inset:35px 35px 0    0   }
  37.5% {inset:35px 0    0    0   }
  50%   {inset:35px 0    0    35px}
  62.5% {inset:0    0    0    35px}
  75%   {inset:0    0    35px 35px}
  87.5% {inset:0    0    35px 0   }
  100%  {inset:0    35px 35px 0   }
}

.updatebutton,.btn{
  background-color: #f1c40f;
  
  border-radius: .5rem;
  transition:all .4s ;
  font-weight: 600;
  text-transform: capitalize;
}

.updatebutton:hover ,.btn:hover {
  background-color: #493b05;
}

.btn{
  margin-top: -.1rem;

}


@media (min-width:600px){
  .visible-lg{
    display:flex ;
  }
  .visible-sm{
    display: none;
  }
  
.cartcartImgContainer img{
  width: 8rem;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;

}
}

@media (max-width:599px) {
  
.cartcartImgContainer img{
  width: 8rem;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}
  .visible-sm{
    display: flex;
  }
  .visible-lg{
    display: none;
  }
  
}