.slide-sec {
    position: relative;
}

.slide-sec img {
    width: 100%;
    height: auto;
}

.slide-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.slide-text p {
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    padding: 6px;
    background-color: rgb(225, 171, 10, 0.4);
    color: white;
}

/* styles.css */

.slick-dots {
    bottom: -25px;
}

.slick-dots li button:before {
    font-size: 8px;
    color: gray;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #E1AB0A;
}

.slick-dots li {
    margin: 0 5px;
}


.slick-dots li button:before {
    content: '•';
}

/* arrow slider */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: rgba(71, 70, 70, 0.46);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow.prev {
    left: 13px;
}

.arrow.next {
    right: 13px;
}


/* quantity */
.qty-container {
    display: flex;
    align-items: center;
}

.qty-container .input-qty {
    text-align: center;
    padding: 18px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
}


/*---------------------------*/
.btn-cornered,
.input-cornered {
    border-radius: 4px;
}

.btn-rounded {
    border-radius: 50%;
}

.input-rounded {
    border-radius: 50px;
}

/* productdetail */
.highlight {
    color: gray !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    width: 70px !important;
}

.highlight-text ul {
    padding-left: 40px;
    font-size: 13px;
}

/* .highlight ul {
    position: relative;
    right: 190px;
} */

/* why shine */
.why-shine {
    background-color: #EFF8F2;
    padding: 30px 0px;
}

/* about */

.about-shine {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-shine h2 {
    font-size: 20px;
}

.about-shine p {
    font-size: 14px;
}

.testimonial {
    padding: 0px 170px;
}

.shipping {
    background-color: #EFF8F2;
    padding: 0px 300px;
}

@media (max-width: 768px) {
    .about-shine {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .testimonial {
        padding: 0px 10px;
    }

    .shipping {
        padding: 0px 10px;
    }
}

.card-custom {
    border: none;
}

.card-custom img {
    width: 100%;
    height: auto;
}

.card-custom .price {
    font-size: 18px;
    font-weight: 600;
}

.card-custom .card-body {
    padding: 1rem;
    border-right: 1px solid #D5D1D1;
    border-bottom: 1px solid #D5D1D1;
    border-left: 1px solid #D5D1D1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-custom .btn-heart {
    border: none;
    background: none;
    color: red;
    font-size: 1.5rem;
}

.fixed-right {
    position: fixed;
    right: -60px;
    top: 290px;
    z-index: 1000;
    transform: rotate(270deg);

    /* Ensure it stays above other content */
}

.feedback-right {
    position: fixed;
    right: -43px;
    top: 440px;
    z-index: 1000;
    transform: rotate(270deg);

    /* Ensure it stays above other content */
}