*:root{
    font-family: 'Lato',sans-serif;
}
.slide-sec {
    position: relative;
}g

.slide-sec img {
    width: 100%;
    height: auto;
}

.slide-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.slide-text p {
    font-family: 'Lato',sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    padding: 6px;
    background-color: rgb(225, 171, 10, 0.4);
    color: white;
}

/* styles.css */

.slick-dots {
    bottom: -25px;
}

.slick-dots li button:before {
    font-size: 8px;
    color: gray;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #E1AB0A;
}

.slick-dots li {
    margin: 0 5px;
}


.slick-dots li button:before {
    content: '•';
}

/* arrow slider */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: rgba(71, 70, 70, 0.46);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px -1rem;
}

.arrow.prev {
    left: 13px;
}

.arrow.next {
    right: 13px;
}


/* quantity */
.qty-container {
    display: flex;
    align-items: center;
}

.qty-container .input-qty {
    text-align: center;
    padding: 0px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
    max-height: 25px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 0px 13px;
    font-size: 10px;
    height: 25px;
    width: 38px;
    transition: 0.3s;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
}


/*---------------------------*/
.btn-cornered,
.input-cornered {
    border-radius: 4px;
}

.btn-rounded {
    border-radius: 50%;
}

.input-rounded {
    border-radius: 50px;
}

/* productdetail */
.highlight {
    color: gray !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    width: 70px !important;
}

.highlight-text ul {
    padding-left: 40px;
    font-size: 13px;
}

/* .highlight ul {
    position: relative;
    right: 190px;
} */

/* why shine */
.why-shine {
    background-color: #EFF8F2;
    padding: 30px 0px;
}

/* about */

.about-shine {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-shine h2 {
    font-size: 20px;
}

.about-shine p {
    font-size: 14px;
}

.testimonial {
    padding: 0px 170px;
}

.shipping {
    background-color: #EFF8F2;
    padding: 0px 300px;
}

@media (max-width: 768px) {
    .about-shine {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .testimonial {
        padding: 0px 10px;
    }

    .shipping {
        padding: 0px 10px;
    }
}

.card-custom div .card-img-top {
    border: none;
    overflow:hidden;
    transition: all 2s ease-in-out;
}

.card-custom:hover div .card-img-top{
    transform: scaleX(1.1);
}

.card-custom div img {
    width: 100%;
    height: auto;
}

.card-custom .price {
    font-size: 18px;
    font-weight: 600;
}

.card-custom .card-body {
    padding: 1rem;
    border-right: 1px solid #D5D1D1;
    border-bottom: 1px solid #D5D1D1;
    border-left: 1px solid #D5D1D1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-custom .btn-heart {
    border: none;
    background: none;
    color: red;
    font-size: 1.5rem;
}

.fixed-right {
    position: fixed;
    right: -60px;
    top: 270px;
    height: 44px;
    z-index: 1000;
    transform: rotate(270deg);
    font-size: 1rem;

    /* Ensure it stays above other content */
}

.feedback-right {
    position: fixed;
    right: -34px;
    top: 420px;
    font-size: 1rem;
    z-index: 1000;
    transform: rotate(270deg);

    /* Ensure it stays above other content */
}

.slider1{
    z-index: 100;
}

.slide-discription{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}


@media (max-width:768px) {
    .fixed-right{
        top: 200px;
        font-size: 1rem;
        right: -65px;
    }

    .feedback-right{
        font-size: 1rem;
        top: 380px;
        right: -35px;
    }
    
}

.card-container{
    height: auto;
}

.sliders{
    min-height: 350px;
}

.banner-img{
    transition: all 2s ease-in-out;
}
.banner-img:hover{
    transform: scaleX(1.3);

}


.banner2-container{
    width: 100%;
    height: 85vh;

   
}

.banner2-bg2{
    background-image: url(/public/img/banner2-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
    

}

@media (max-width:860px) {
    .banner2-bg2{
        background-image: url(/public/img/banner2-bg2.jpg);
         display: none;
        
    
    }
    .banner-bg{
        height: 30%;
    }

    .banner2-bg-text{
        width: 70%;
        margin: 5px auto;
        text-align: center;
        
        
    }
}


.banner2-bg-text h3{
 font-size: 300%;
 word-break: break-all;
 font-style: italic;
 font-family: "Cormorant Garamond", serif;
 font-weight: 500;
 font-style: italic;
 margin: 1rem auto;
 
}
.banner2-bg-text{
 color: #17403c !important;
}
.banner2-bg-text p{
   width: 95%;
   margin: 1rem auto;
}
.banner2-bg {
    background-image: url(/public/img/banner2bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.banner2-bg-text p:last-child {
 font-family: "Cormorant Garamond", serif;
 font-size: 150%;
 line-height: 1em;
 font-style: italic;
 font-weight: 500;
}

.banner2-bg-text p:last-child:hover span {
    transform: scale(1.2); /* Applying scale transformation */
}


.banner3-container {
    width: 100%;
    height: 0;
    margin-top: 25rem;
    margin-bottom: 5rem;

}

.banner3-container div img {
    width: 100%;
    height: 100%;
}


@media (max-width:870px) {
    .banner3-container{
        width: 100%;
        height: 100%;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    
}

.banner3-container p:last-child:hover span {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.text-overlay {
   
    top: 30px;
    left: 40px;
    width: 60%;
   font-family: "Cormorant Garamond", serif !important;
    color: white;
    margin: 20px; /* Optional margin */
}

.text-overlay p:first-child{
    font-size: 200%;
    line-height: 200%;
    font-weight: 700;
    letter-spacing: .3rem;
    font-family: "Cormorant Garamond", serif;
    text-align: start;
}

@media (max-width:860px) {
    .text-overlay p:first-child{
        font-size: 1rem;
        margin:0;
    }
    
}

.text-overlay p:last-child{
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic!important;
    font-weight: 700 !important;
    font-family: "Cormorant Garamond", serif;
    letter-spacing: .3rem;
    text-align: start;
}

.heartbutton-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 1px 10px gray;
    position: absolute;
    right: 25px;
    bottom: -25px;
    

}
.pottery-main {
    width: 92% !important;
    margin: 2rem auto;
}

.pottery-main h3{
    font-size: 300%;
    font-weight: 500;
    font-style: italic;
}

.pottery-container{
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow:hidden;    
}

.pottery-container img{
    width: 90%;
    object-fit: contain;
    transition: all .8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.pottery-container:hover img{
    transform: scaleX(1.1);
}

.slider{
    width: 100%;
   
    
}

